<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furtech</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css">
    <link rel="icon" href="/icon.ico" type="image/x-icon">
    <meta property="og:title" content="Furtech">
    <meta property="og:description" content="Explore the frontier of Plane Crazy tech with Furtech.">
    <meta property="og:image" content="/icon.ico">
    <meta property="og:url" content="http://147.185.221.21:45931/">
    <meta property="og:type" content="website">
</head>
<body>
    <div class="background-container">
        <iframe src="https://heladeradragon.com.ar/wallpaper/" frameborder="0" loading="lazy"></iframe>
    </div>
    <div class="content-wrapper">
        <header>
            <img src="/icon.ico" alt="Furtech Icon" class="site-icon">
            <h1>Furtech</h1>
            <p>Explore the frontier of Plane Crazy tech</p>
        </header>
        <main>
            <section class="featured-video">
                <h2>Featured Video</h2>
                <iframe width="1903" height="776" src="https://www.youtube.com/embed/18vQk77gaZQ?autoplay=0&mute=0&controls=1" title="Plane Crazy Drill Shredder Swarm Tut" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </section>
            <nav>
                <ul>
                    <li><a href="https://discord.gg/JTbUD4RVcZ" target="_blank">Discord</a></li>
                    <li><a href="https://www.reddit.com/r/furtech" target="_blank">Subreddit</a></li>
                    <li><a href="https://www.youtube.com/@DarthHondarius" target="_blank">YouTube</a></li>
                </ul>
            </nav>
            <a href="/server" class="server-button">Minecraft Server</a>
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
    <script src="/script.js" defer></script>
</body>
</html>
